os: Visual Studio 2015

branches:
  only:
    - master
    - master_builds
    - test
    - test_builds

matrix:
  allow_failures:
    - rust_channel: nightly
    - nodejs_version: 10

install:
  - ps: Install-Product node $env:nodejs_version x64
  - npm config set msvs_version 2015
  - node -e "console.log(process.argv[0], process.arch, process.versions)"
  - appveyor DownloadFile https://win.rustup.rs/ -FileName rustup-init.exe
  - rustup-init -yv --default-toolchain %rust_channel% --default-host %target%
  - set PATH=%PATH%;%USERPROFILE%\.cargo\bin
  - rustc -vV
  - cargo -vV
  - '"C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" x64'

build: false

test_script:
  - npm install --ignore-scripts
  - npm test
  - node -e 'require("./").compile("{{thing}}")'

for:
-
  branches:
    only:
      - master_builds
      - test_builds
  only_commits:
    message: /\[publish binary\]/
  before_test:
    - call scripts\ci\vars.bat
  on_success:
    - ps: ./scripts/ci/add-binary.ps1
  on_finish:
    - ps: ./scripts/ci/push-binaries.ps1

  environment:
    target: x86_64-pc-windows-msvc
    rust_channel: stable
    RUST_BACKTRACE: 1

    matrix:
      ${NODE_VERSIONS}
        final_build: 'true'

-
  branches:
    only:
      - master
      - test
  environment:
    target: x86_64-pc-windows-msvc
    RUST_BACKTRACE: 1

    ### Test matrix ###
    matrix:
      # -
      #   rust_channel: stable # beta, nightly
      #   nodejs_version: 6 # 8, 9, 10